.App {
  text-align: center;
  background-color: blueviolet;
  color:coral
}

.App-logo {
  height: 8rem;
  pointer-events: none;
  color: rgb(184, 63, 15);
}
.coin-table{
margin: 50px auto 50px auto;
display: inline-block;
font-size: 1.4rem;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #a622aa;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb61e6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
